* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 60%;
  min-width: 370px;
  text-align: center;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}
h1 {
  margin-bottom: 30px;
}
main section {
  background-color: #eff1f3;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main section textarea {
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  outline-color: var(--main-color);
}

main section button {
  padding: 15px;
  border-radius: 15px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  -webkit-box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);

  margin: 20px 0;
  font-weight: bold;
}
#testoOutput {
  min-height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  color: black;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
#testoOutput p {
  border: 1px solid #000;
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 5px;
}

.shadowed {
  -webkit-box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
}

:root {
  --main-color: #ffebee;
}
